{% extends 'base.html' %} 

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4 mt-4 left top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <a href="{% url 'post_category' category=post.category.name %}" class="text-muted h6 mb-2">{{ post.category.name }}</a>
        <p class="text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text mb-4">{{ post.content | safe }}</p>

        <h3 class="h4 mt-4 mb-2">Leave a comment:</h3>
        <form class="mb-4" action="" method="post">
          {% csrf_token %}
          {{ form }}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <h3 class="h4 mt-4 mb-2">Comments:</h3>
        {% for comment in comments %}
        <div>
          <p>
            On {{comment.created_on.date }}&nbsp;
            <b>{{ comment.author }}</b> wrote:
          </p>
          <p>{{ comment.content }}</p>
        </div>
        <hr>
        {% endfor %}
      </div>
    </div>

    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>

{% endblock content %}