{% extends "base.html" %} 

{% block content %}

<div class="container mx-auto">
    
    <div class="row">
        <div class="col-md-8 py-4">
            <h1 class="mb-4">{{ category.name }}</h1>
            {% for post in posts %}        
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text text-muted h6">{{ post.category.name }}</p>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on }}</p>
                    <p class="card-text">{{ post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' slug=post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>

    
{% endblock content %}